* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: whitesmoke;
  color: #000000;
  font-family: 'Georgia', 'Markazi Text', 'Karla', 'serif';
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
}

.nav-container {
  height: 60px;
}

.nav-logo {
  height: 40px;
  width: auto;
  float: left;
  margin-top: 15px;
  padding-left: 20px;
}

.nav-menu {
  width: auto;
  margin-top: 20px;
  display: flex;
  padding-right: 20px;
  float: right;
  font-size: 15px;
}

.nav-menu li {
  list-style: none;
  padding-right: 20px;
}

.nav-link {
  color: #000000;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #f4ce14;
  text-transform: uppercase;
  padding: 10px;
}

.nav-link:active {
  color: #fff;
}

.btn {
  color: #fff;
  font-weight: bolder;
  margin-top: -30px;
  background-color: #f4ce14;
  padding: 5px 10px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.btn:link,
.btn:visited {
  padding: 0 10px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}
.btn .nav-link:hover {
  color: #fff;
  border: none;
  padding: 0;
}

.hero-sec {
  height: 50vh;
  width: 100%;
  background-color: #495e57;
  display: flex;
  justify-content: space-between;
}

.hero-intro {
  width: 70%;
  padding: 20px;
}

.hero-intro h1,
.hero-intro h3 {
  padding-left: 10px;
  text-shadow: 2px 2px 5px red;
}

.hero-intro h1 {
  text-transform: uppercase;
  word-spacing: 3px;
  letter-spacing: 2px;
  font-family: 'Lato', 'Arial', 'sans-serif';
  font-size: 250%;
  font-weight: 700;
}

h3 {
  font-family: Georgia;
  font-style: italic;
  padding-bottom: 20px;
}

.hero-intro p {
  line-height: 140%;
  font-weight: 100;
  padding: 30px 0 0 10px;
  font-family: Georgia;
}

.firstcharacter {
  color: #f4ce14;
  float: left;
  font-size: 55px;
  line-height: 0;
  padding-top: 4px;
  text-shadow: 2px 2px 5px red;
}

.hero-img {
  width: 100%;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
}

.hero-container {
  height: 20rem;
  width: 30%;
  display: flex;
  padding-top: 10px;
  padding-right: 80px;
}

h1 {
  color: #f4ce14;
}

h3,
p {
  color: #fff;
}

.menu-title,
.menu-p {
  color: #000000;
}

.reserve-btn {
  padding: 20px 0 0 10px;
}

.order-section {
  height: 40vh;
}

.menu-section {
  margin: 100px 0 20px 20px;
  width: 100%;
}

.section-heading {
  text-align: justify;
  font-family: Georgia;
  font-size: 40px;
  font-stretch: ultra-expanded;
  padding-left: 20px;
  color: #495e57;
  text-shadow: 2px 2px 5px #f4ce14;
  text-transform: capitalize;
  margin-bottom: 10px;
}

.menu-case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu-container:hover {
  cursor: pointer;
}

.menu-container h3 {
  text-align: center;
  color: #555555;
  text-shadow: 2px 2px 5px#f4ce14;
}

.menu-container p {
  color: #000000;
  line-height: 25px;
  font-size: 15px;
  font-weight: 100;
  padding: 0 10px 0 20px;
}

.menu-container {
  background-color: #c4c4c4;
  width: 330px;
  height: 400px;
  margin: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: -3px -3px #f4ce14;
}

.special-food {
  width: 100%;
  height: 180px;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 15px 15px 0 0;
  -webkit-border-radius: 15px 15px 0 0;
  -moz-border-radius: 15px 15px 0 0;
  -ms-border-radius: 15px 15px 0 0;
  -o-border-radius: 15px 15px 0 0;
}

.menu-button {
  padding: 10px;
  text-align: center;
}

.menu-tab {
  display: flex;
  justify-content: space-around;
}

.food-price {
  display: flex;
  justify-content: space-evenly;
}

.menu-price {
  padding: 10px;
}

.more-btn {
  margin-top: 0;
  padding-bottom: 3px;
  height: 35px;
  font-weight: 700;
}

.menu-title {
  padding: 10px;
}

.menu-btn {
  color: #000000;
  padding: 5px 10px;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.menu-btn:hover {
  color: #fff;
  text-transform: uppercase;
}

.about-section {
  background-color: #f4ce14;
}

.about-section h2 {
  padding: 30px;
  text-align: center;
  text-shadow: 2px -2px #c4c4c4;
}

.chef-container {
  width: 450px;
  height: 350px;
  margin: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.chef-images {
  height: 20rem;
  position: relative;
  top: 4rem;
  left: 2rem;
}

.chef-images > img {
  width: 70%;
  height: 100%;
  object-fit: cover;
}

.chefb {
  position: relative;
  top: -2rem;
  left: 0;
}

.chefA {
  position: absolute;
  top: -3.5rem;
  left: 8rem;
}

.chef-case p {
  width: 40%;
  color: #000000;
  line-height: 30px;
  font-size: 18px;
  font-weight: 100;
  padding: 0 10px 0 20px;
}

.chef-case {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-bg {
  background-color: #ee9972;
}

/* .App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
